{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": "*.svg",
      "options": {
        "parser": "html",
        "tabWidth": 4
      }
    }
  ]
}
